{% extends "section.html" %}

{% block body %}
{% set page_class = "app-list" %}
{% endblock body %}

{% block header %}
{# This value is matched by the config.extra.menu.main~section #}
{% set current_section = "apps" %}
{{ macros_header::header(current_section=current_section)}}

{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="lpa__sidebar">
    <details class="quick-facts">
      {% set apps_section = get_section(path="apps/_index.md") %}
      <summary>Quick facts</summary>
      {% set posts = apps_section.pages | sort(attribute="date") | reverse %}
      <p>We currently list {{ posts | length }} apps.</p>
      <div class="lpa_side_container">
        <div class="lpa_side_item lpa_additions">
          <h4>Latest additions</h4>
          <ul>
            {% for post in posts | slice(end=5) %}
            <li><a href="{{ post.permalink }}">{{ post.title }}</a> <time
                datetime="{{post.date}}">({{post.date}})</time></li>
            {% endfor %}
          </ul>
        </div>
        <div class="lpa_side_item lpa_additions">
          <h4>Recently updated</h4>
          {% set updated_posts = apps_section.pages | filter(attribute="updated") | sort(attribute="updated") | reverse
          %}
          <ul>
            {% for post in updated_posts | slice(end=5) %}
            <li><a href="{{ post.permalink }}">{{ post.title }}</a> <time datetime="{{post.updated}}">({{ post.updated
                }})</time></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </details>
    <div class="lpa_side_item lpa_filter">
      <h3>Filter by</h3>
      {% for taxonomy in config.taxonomies %}
      <ul>
        {% if taxonomy.name == "frameworks" %}
        <li>
          <a href="../frameworks" class="frameworks_filter">Frameworks</a>
        </li>
        {#% for term in taxonomy.terms %}
        <a class="taxonomy-link text-body" href="{{ term.permalink | safe }}">{{ term.name }} <span class="count">({{
            term.pages | length }})</span></a>
        {% endfor %#}
        {% elif taxonomy.name == "mobile_compatibility" %}
        <li>
          <a href="../mobile-compatibility" class="mobile_compat_filter">Mobile fit</a>
        </li>
        {% elif taxonomy.name == "services" %}
        <li>
          <a href="../services" class="services_filter">Services</a>
        </li>
        {% elif taxonomy.name == "categories" %}
        <li>
          <a href="../categories" class="categories_filter">Categories</a>
        </li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="content">
    <article>
      <h1 class="text-center">{{ section.title }}</h1>
      <div class="teaser text-center">{{ section.content | safe }}</div>
      <div class="card-list">
        {% set index_path = current_path ~ "_index.md" | trim_start_matches(pat="/") %}
        {% set index = get_section(path=index_path) %}
        {% for page in index.pages %}
        <div
          class="card-body {% if page.taxonomies.status %}{% for state in page.taxonomies.status %}app-status-{{ state }}{% endfor %}{% endif %}"
          id="{{ page.title | lower | replace(from=" ", to=" -")}}">
          <p>
            <strong>
              <a href="{{ page.permalink }}">{{ page.title }}</a>
            </strong>
            <span class="description" style="float:right;">{{ page.description }}</span>
          </p>
          <p class="description app-taxonomy">
            {% if page.taxonomies.status %}
            {% for state in page.taxonomies.status %}
            <span class="{{ state }} taxonomy-status" title="Project State">{{ state }}</span>
            {% endfor %}
            {% endif %}
            {% if page.taxonomies.services %}
            {% for service in page.taxonomies.services %}
            <span class="taxonomy-tag taxonomy-service {{ service }}" title="Service">{{ service }}</span>
            {% endfor %}
            {% endif %}
            {% for category in page.taxonomies.categories %}
            <span class="taxonomy-tag taxonomy-category {{ category }}" title="Category">{{ category }}</span>
            {% endfor %}
            {% for framework in page.taxonomies.frameworks %}
            <span class="taxonomy-tag taxonomy-framework framework-{{ framework }}" title="Framework">{{ framework
              }}</span>
            {% endfor %}
            {% for compatibility in page.taxonomies.mobile_compatibility %}
            <span class="taxonomy-tag taxonomy-mobile-compat mobile-compat-{{ compatibility }}"
              title="Mobile compatibility">{{ compatibility }}</span>
            {% endfor %}
          </p>
        </div>
        {% endfor %}
      </div>
    </article>
  </div>
</div>
{% endblock content %}